{% extends "layout.html" %}

{% block title %}Output{% endblock %}

{% block content %}
<h1 class="mt-5">Received Data</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Text Index</th>
            <th scope="col">Valence From -5 To 5</th>
            <th scope="col">Number Of Analyzed Words</th>
        </tr>
    </thead>
    <tbody>
        <!-- Fix i iteration (doesn't iterate right now) -->
        {% set i = 0 %}
        {% for item in theList %}
        <tr>
            <th scope="row">{{ i }}</th>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
        </tr>
        {% i = i + 1 %}
        {% endfor %}
    </tbody>
</table>
<a href="/" class="btn btn-primary">Go Back</a>
{% endblock %}